
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.counterWrapper{
    border: 5px solid aqua;
    width: 400px;
    height: 300px;
    padding: 30px;
    border-radius: 10px;
}

.button{
    min-width: 170px;
    min-height: 50px;
    margin: 10px;
    background-color: aquamarine;
    color: white;
    font-size: 20px;
    font-weight: 800;
    border-radius: 10px;
    margin-top: 50px;
}

.buttonWrapper{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.label{
    display: block;
   margin-left: 90px;
}

.inputStyle{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}

.inputWrapper{
    border: 5px solid rgb(12, 70, 70);
    padding: 20px;
    border-radius: 20px;
}

label{
    font-size: 20px;
    font-weight: 800;
    color:aquamarine;
}