.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vw;
   
}

.app{
    border: 5px solid aqua;
    width: 400px;
    height: 300px;
    padding: 30px;
    border-radius: 10px;
}

.counter{
    color: red;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    padding: 50px;
    border: 1px solid black;
    background-color: aqua;
    border-radius: 10px;
}

.app-counter{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    padding: 50px;
    border: 1px solid black;
    background-color: aqua;
    border-radius: 10px;
}

.button-wrapper{
    display: flex;
    justify-content: space-between;
    border: 2px solid aqua;
    margin-top: 50px ;
    border-radius: 10px;
}

.button{
    min-width: 170px;
    min-height: 50px;
    margin: 10px;
    background-color: aqua;
    color: white;
    font-size: 20px;
    font-weight: 800;
    border-radius: 10px;
}